.container {
  max-width: 950px;
  margin: 0 auto;
  background-color: #1996da;
  padding: 25px 50px;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.column-one-third {
  flex-basis: calc(100% / 3);
  text-align: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 auto -20px;

  /* Give the circle a margin top 0, auto for L/R to center it and -20px at the bottom to bring circle up */
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image {
  width: 3rem;
}

h2,
h3,
p {
  color: #fff;
}

h3 {
  margin-top: 30px;
}
