body {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}

.underline {
  text-decoration: underline;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
