.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 25px;
}

.row {
  display: flex;
  justify-content: center;
}

.fullColumnTitle {
  text-align: center;
  padding: 0 180px 30px;
}

.fullColumnTitle h1 {
  letter-spacing: 3px;
}

.learn input {
  width: 12rem;
  height: 2.5rem;
  background-color: #fff;
  border-color: #d14c45;
  border-width: 3px;
  color: #d14c45;
}

.column-one-fourth {
  flex-basis: calc(100% %4);
}

.column-one-fourth h3,
.column-one-fourth p {
  padding-right: 100px;
}

img {
  height: auto;
  width: 95px;
}
