@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@100&display=swap');

body,
head {
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}
